*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Eras ITC;
}

.hero-section{
    display: flex;
    flex-direction: column;
    background:rgb(104, 130, 134);
    /* background-image: url("../../assets/bg.jpg"); */
    background-repeat: no-repeat;
    background-size: auto;
    width:100vw;
    height:100vh;
    align-items:center;
    color:#fff;
}
.ham{
    font-size: 1.3em;
    color:#fff;
    z-index:199223;
}
.ham-close{
}
.ham2{
    display:none;
}
.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background:#210101;
    padding:1em;
    z-index: 3443434;
    color:#fff !important;
}
a{
    /* color:#000; */
    text-decoration: none;
}
.logo-div{
    width:50%;
    display:flex;
    flex-direction: flex-start;
    justify-content: left;
    align-items: center;
}
.logo-div > p{
    font-size: 1em;
    color:#fff;
}
.logo-big{
    width:10em;
}
.logo{
    width:25%
}
.logo-cont{
    width:50%;
    display:flex;
}
.nav-links{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:#000;
    height:100vh;
    width:unset;
    color:#fff;
    display:none;
    animation: opacity .5s ease-in;
}
@keyframes opacity {
    from{
        opacity:0%;
    }
    to{
        opacity:100%;
    }
}
.hide{
    display:none;
}
.show{
    display:flex;
}
.hs{
    display:flex;
    flex-direction: column;
    background:#FFB300;
    justify-content: center;
    align-items:center;
    padding:2em 0;
    height: auto;
    flex-wrap: wrap-reverse;
}
.btn{
    padding:.5em 1em;
    color:#FFB300 !important;
}

.nav-links > p {
    margin:0 1em;
    padding:.5em 1em;
    border:unset;
    font-size: 2em;
    color:#fff !important;
}
.link{
    color:#fff;
}
.btn-a{
    color:#FFB300 !important;
}
.sect1{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width:90%;
}
.logo-img{
    width:93%;
}
.sect1 > h4{
    font-size: 4em;
    text-align:center;
}
.sect1 > p{
    font-size: 2em;
    font-weight: lighter;
    line-height: 1.2em;
    margin:0 0 1em 0;
    text-align: center;
}
.sect2{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.sect2 > p{
}
.sect3{
    display:flex;
    flex-direction: row;
    margin:0;
}
.sect3 > i{
    display:flex;
    flex-direction: row;
    color:#000;
    font-size: 1.4em;
    background:#ac9561;
    padding:.5em;
    border-radius:50%;
    justify-content:center;
    margin:0 .5em;
}
.social-link{
    padding:1em 1em 0 0;
    color:#fff;
    font-size:1.5em;
}
.btn-1{
    background:none;
    border: 1px solid #fff;
    padding:1em;
    margin:1em;
    color:#fff;
}
.a{
    color:#fff;
}
.a-2{
    color:#FFB300;
}
.btn-2{
    background: #fff;
    margin:1em;
    padding:1em 3em;
    color:#FFB300 !important;
}
.second-sect{
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    background:#210101;
    height:256em;
    width:100vw;
    color:#fff;
}
.second-sect > h3{
    /* margin:2em 0 2em 0; */
    color:#fff;
    font-weight: bolder;
    font-size: .8em;
    margin:0 0 1em 0;
}
.swords{
    display:flex;
    flex-direction:column;
    justify-self: center;
    align-self: center;
}
.swords > img{
    width:90%;
    margin:.5em;
}
.cards{
    display:flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    padding:1em;
    width:100%;
}
.cards > div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding:1em;
    box-shadow: 2px 4px 4px -3px black;
    background:rgb(240, 238, 238);
    height:30em;
    margin:.5em;
    width:100%;
    /* max-width:50%; */
    color:#000;
    text-align: center;
}
.videos{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.video{
    margin:1em;
    width:100%;
}
.paragraph-n-carousel{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    width:95%;
    color:#fff;
    font-size: 1.2em;
}
.details{
    display:flex;
    flex-direction: row;
    width:100%;
    align-self: flex-end;
}
.carousel{
    justify-self: flex-start;
    align-self: flex-end;
}
.first{
    margin:2em 0 0 0;
}
.list{
    display:block;
}

.vision-image{
    width:50%;
    margin:.5em;
}
.cards > div> h3{
    margin:1em 0 1em 0;
}
.third-sect{
    display: flex;
    background:#fff;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:#fff;
    width:100%;
    padding:1em;
}
.third-sect-1{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.third-sect-1 > h2{
    display: flex;
    flex-direction:column;
    margin:1em 2em;  
}
.third-sect-1 > div{
    display: flex;
    flex-direction:column;
    margin:1em;
    width:100%;
}
.gladius-sword{
    width:100%;
    margin:2em 0;
    justify-self: flex-end;
    align-self: center;
}
.rudis-token{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.rudis-token > h2{
    margin:0 0 .5em 0;
    color:#000;
}
.rudis-token > h4{
    margin:0 0 .5em 0;
    font-size: 1.2em;
    color:#000;
}
.rudis-token > p{
    line-height: 1.5em;
    text-align: center;
    color:#000;
}
.vision-div{
    background:#FFB300;
    width:35%;
    padding:1em;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.vision-div > h3{
    margin:0 0 1em 0;
    text-align: center;
}
.vision-div > h4{
    margin:0 0 .5em 0;
    font-size: 1.4em;
}
.vision-div > p{
    text-align: center;
    line-height:2em;
}
.third-sect-2{
    padding:1em;
    justify-self: center;
    align-self: center;
}
.third-sect-2 > h2{
    margin:0;
    color:#000;
    text-align:center;
}
.third-sect-2 > div{
    display: flex;
    flex-direction:column;
}
.cardss{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width:100%;
}
.cardss > div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#FFB300;
    margin:.5em;
    color:#000;
    padding:1em;
    width:100%;
    height: 25em;
}
.cards-color{
    color:#fff !important;
}
.cards-color > h4{
    color:#fff;
    margin:0 0 1em 0;
}
.cards-color > p{
    text-align: center;
    line-height:1.5em;
    color:#000;
}
.fourth-sect{
    display:flex;
    flex-direction: column;
    align-items: center;
    background:#210101;
    padding:1em;
    color:#000;
}
.fourth-sect > h2{
    margin:0 0 1em 0;
    color:#fff;
}
.fourth-sect > p{
    color:#fff;
    font-size: 1.2em;
}
.buy-btn{
    padding:1em;
    background:#000;
    margin:2em 0 0 0;
    outline: none;
    border:none;
    color:#fff;
    font-size: 1.2em;
}
.copy-box{
    display:flex;
    flex-direction:column;
    width:100%;
    margin:2em 0 0 0 ;
    background:#000;
    font-size: .8em;
}
.copy-box > p{
    background:#fff;
    align-self: flex-end;
    padding:.3em;
    width:15%;
    cursor: pointer;
    color:#000;
}
.copy-box > input{
    color:#fff;
    padding:.5em;
    width:100%;
    text-align: center;
    border:none;
    outline:none;
    font-size: 1.2em;
    background:#000;
}
.fifth-sect{
    display:flex;
    flex-direction: column;
    background:#FFB300;
    padding:1em;
    color:#fff;
    width:100%;
}
.fifth-sect-1{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin:0 0 2em 0;
    text-align: center;
    width:100%;
}
.fifth-sect-2{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width:100%;
}
.token-details{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding:1.2em;
}
.token-details > p{
   font-size: 1.3em;
   padding:1em;
   text-align: center;
}
.image-div{
    padding:1em;
    margin:0 2em;
    width:100%;
}
.gladius-sword-2{
    width:100%;
}
.fifth-sect-3{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: flex-start;
    padding:0;
    margin:2em 0 0 0;
    width:100%;
}
.fifth-sect-3 > div{
   margin:.5em 0;
   width:100%;
   justify-self: flex-start;
}
.bar{
    height:2em;
    background:#fff;
    text-align: right;
    padding:0 .5em 0 0;
    color:#000;
}
.bar1{
    width:30%;
}
.bar2{
    width:50%;
}
.bar3{
    width:100%;
}
.road-map-div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    height:150vh;
}
.road-map-div > p{
   color:#000 ;
}
.road-sect-1{
    padding:1em;
}
.phase{
    background:#fff;
    color:#000;
    padding:2em;
}
.phase-1{
    /* margin: 0 0 4em 0; */
}
.phase-3{
    margin: 5em 0 0 0;
}
.roadmap-head-text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0em 0;
}
.road-sect-3{
    display:flex;
    flex-direction:column;
    height:120vh;
    justify-content:space-between;
    width:35%;
    margin:2em 0 0 0;
}
.phase > p{
    margin:1em 0;
}
.road-sect-2{
    display:flex;
    flex-direction:column;
    height:70%;
    justify-content:center;
    align-items: center;
    margin:2em 0 0 0;
}
.circle{
    display:flex;
    justify-content:center;
    align-items: center;
    background:#ac9561;
    padding:1em;
    width:auto;
    height:5em;
    border-radius: 50%;
}
.line{
    width:.2em;
    background:#ac9561;
    height:12em;
}
.ham1{
    display:none;
    
}
.ham2{
    display:none;

}

.footer{
    display:flex;
    justify-content:center;
    align-items: center;
    padding:1em;
}
/* The media query for the large screen here */

@media only screen and (min-width:768px ) {

.hero-section{
    display: flex;
    flex-direction: column;
    background:rgb(104, 130, 134);
    /* background-image: url("../../assets/bg.jpg"); */
    background-repeat: no-repeat;
    background-size: auto;
    width:100vw;
    height:100vh;
    align-items:center;
    color:#fff;
}
.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background:#210101;
    padding:0 2em;
    z-index: 3443434;
    color:#fff !important;
}
a{
    /* color:#000; */
    text-decoration: none;
}
.logo-div{
    width:20%;
    display:flex;
    flex-direction: flex-start;
    justify-content: left;
    align-items: center;
}
.logo-div > p{
    font-size: 1.5em;
    color:#fff;
}
.logo-big{
    width:10em;
}
.logo{
    width:25%
}
.logo-cont{
    width:25%;
    display:flex;
}
.nav-links{
    width:60%;
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    position:unset;
    background:unset;
    height:unset;
    width:unset;
    color:#fff;
}
.hs{
    display:flex;
    flex-direction: row;
    background:#FFB300;
    justify-content: center;
    align-items:center;
    padding:2em 0;
    height: 100vh;
}
.btn{
    padding:.5em 1em;
    background:#FFB300;
    border-radius: 3em;
    color:#fff !important;
}

.nav-links > p {
    margin:0 1em;
    padding:.5em 1em;
    border:unset;
    font-size: 1em;
    color:#fff !important;
}
.link{
    color:#fff;
}
.btn-a{
    color:#fff !important;
}
.sect1{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    width:60%;
}
.logo-img{
    width:90%;
}
.sect1 > h4{
    font-size: 4em;
    text-align: left;
}
.sect1 > p{
    font-size: 2em;
    font-weight: lighter;
    line-height: 1.2em;
    margin:0 0 1em 0;
    text-align: left;
}
.sect2{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.sect2 > p{
}
.sect3{
    display:flex;
    flex-direction: row;
    margin:0;
}
.sect3 > i{
    display:flex;
    flex-direction: row;
    color:#000;
    font-size: 1.4em;
    background:#ac9561;
    padding:.5em;
    border-radius:50%;
    justify-content:center;
    margin:0 .5em;
}
.social-link{
    padding:1em 1em 0 0;
    color:#fff;
    font-size:1.5em;
}
.btn-1{
    background:none;
    border: 1px solid #fff;
    padding:1em;
    margin:0 2em 0 0;
    color:#fff;
}
.a{
    color:#fff;
}
.a-2{
    color:#FFB300;
}
.btn-2{
    background: #fff;
    padding:1em 3em;
    color:#FFB300 !important;
}
.second-sect{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background:#210101;
    height:unset;
    width:100vw;
    color:#fff;
}
.second-sect > h3{
    margin:2em 0 2em 0;
    color:#fff;
    font-weight: bolder;
}
.swords{
    display:flex;
    flex-direction:row;
    justify-self: flex-end;
    align-self: flex-end;
}
.swords > img{
    width:30%;
    margin:1em;
}
.cards{
    display:flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    padding:4em;
    width:100%;
}
.paragraph-n-carousel{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    width:70%;
    color:#fff;
    font-size: 1.2em;
}
.details{
    display:flex;
    flex-direction: row;
    width:45%;
    align-self: flex-end;
}
.carousel{
    justify-self: flex-start;
    align-self: flex-end;
}
.first{
    margin:2em 0 0 0;
}
.list{
    display:block;
}
.cards > div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding:1em;
    box-shadow: 2px 4px 4px -3px black;
    background:rgb(240, 238, 238);
    height:30em;
    margin:.5em;
    width:30%;
    /* max-width:50%; */
    color:#000;
    text-align: center;
}
.vision-image{
    width:50%;
    margin:.5em;
}
.cards > div> h3{
    margin:1em 0 1em 0;
}
.third-sect{
    display: flex;
    background:#fff;
    flex-direction:column;
    padding:3em;
    color:#fff;
}
.third-sect-1{
    display: flex;
    flex-direction:row;

}
.third-sect-1 > h2{
    display: flex;
    flex-direction:column;
    margin:1em 2em;
}
.third-sect-1 > div{
    display: flex;
    flex-direction:column;
    margin:1em 2em;
}
.gladius-sword{
    width:30%;
    margin:2em 0;
    justify-self: flex-end;
    align-self: center;
}
.rudis-token{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.rudis-token > h2{
    margin:0 0 .5em 0;
    color:#000;
}
.rudis-token > h4{
    margin:0 0 .5em 0;
    font-size: 1.2em;
    color:#000;
}
.rudis-token > p{
    line-height: 1.5em;
    text-align: center;
    color:#000;
}
.vision-div{
    background:#FFB300;
    width:35%;
    padding:1em;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.vision-div > h3{
    margin:0 0 1em 0;
    text-align: center;
}
.vision-div > h4{
    margin:0 0 .5em 0;
    font-size: 1.4em;
}
.vision-div > p{
    text-align: center;
    line-height:2em;
}
.third-sect-2{
    padding:3em;
}
.third-sect-2 > h2{
    margin:0 0 2em 0;
}
.third-sect-2 > div{
    display: flex;
    flex-direction:row;
}
.cardss{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.cardss > div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#FFB300;
    margin:.5em;
    color:#000;
    padding:1em;
    width:30%;
    height: 17em;
}
.cards-color{
    color:#fff !important;
}
.cards-color > h4{
    color:#fff;
    margin:0 0 1em 0;
}
.cards-color > p{
    text-align: center;
    line-height:1.5em;
    color:#000;
}
.fourth-sect{
    display:flex;
    flex-direction: column;
    align-items: center;
    background:#210101;
    padding:3em;
    color:#000;
}
.fourth-sect > h2{
    margin:0 0 1em 0;
    color:#fff;
}
.fourth-sect > p{
    color:#fff;
    font-size: 1.2em;
}
.buy-btn{
    padding:1em;
    background:#000;
    margin:2em 0 0 0;
    outline: none;
    border:none;
    color:#fff;
    font-size: 1.2em;
}
.copy-box{
    display:flex;
    flex-direction:column;
    width:50%;
    margin:2em 0 0 0 ;
    background:#000;
}
.copy-box > p{
    background:#fff;
    align-self: flex-end;
    padding:.3em;
    width:10%;
    cursor: pointer;
    color:#000;
}
.copy-box > input{
    color:#fff;
    padding:.5em;
    width:100%;
    text-align: center;
    border:none;
    outline:none;
    font-size: 1.2em;
    background:#000;
}
.fifth-sect{
    display:flex;
    flex-direction: column;
    background:#FFB300;
    padding:3em;
    color:#fff;
}
.fifth-sect-1{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin:0 0 2em 0;
}
.fifth-sect-2{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.token-details{
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding:1.2em;
}
.token-details > p{
   font-size: 1.3em;
   padding:1em;
   text-align: center;
}
.image-div{
    padding:2em;
    margin:0 2em;
    width:20%;
}
.gladius-sword-2{
    width:100%;
}
.fifth-sect-3{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    padding:0 10em;
    margin:2em 0 0 0;
    width:100%;
}
.fifth-sect-3 > div{
   margin:.5em 0;
   width:100%;
}
.bar{
    height:2em;
    background:#fff;
    text-align: right;
    padding:0 .5em 0 0;
    color:#000;
}
.bar1{
    width:30%;
}
.bar2{
    width:50%;
}
.bar3{
    width:100%;
}
.road-map-div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    height:150vh;
}
.road-map-div > p{
   color:#000 ;
}
.road-sect-1{
    padding:1em;
}
.phase{
    background:#fff;
    color:#000;
    padding:2em;
}
.phase-1{
    /* margin: 0 0 4em 0; */
}
.phase-3{
    margin: 2em 0 0 0;
}
.roadmap-head-text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0em 0;
}
.road-sect-3{
    display:flex;
    flex-direction:column;
    height:120vh;
    justify-content:space-between;
    width:30%;
    margin:2em 0 0 0;
}
.phase > p{
    margin:1em 0;
}
.road-sect-2{
    display:flex;
    flex-direction:column;
    height:70%;
    justify-content:center;
    align-items: center;
    margin:2em 0 0 0;
}
.circle{
    display:flex;
    justify-content:center;
    align-items: center;
    background:#ac9561;
    padding:1em;
    width:auto;
    height:5.5em;
    border-radius: 50%;
}
.line{
    width:.2em;
    background:#ac9561;
    height:12em;
}
.ham1{
    display:none;
    
}
.ham2{
    display:none;

}
.videos{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.video{
    margin:1em;
}
.footer{
    display:flex;
    justify-content:center;
    align-items: center;
    padding:1em;
    text-align: center;
}
}