<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUDIS TOKEN</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/fontawesome-free-5.15.3-web/css/all.min.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
</head>
<body>
    <div id="hero" class="hero-section">
        <div class="header">
            <div class="logo-div">
                <img src="assets/RUDIS coin design png.png" class="logo" alt="">
                <p>Rudis Token</p>
            </div>
            <div class="ham">
                <i class="fas fa-bars"></i>
            </div>
            <div class="nav-links">
                <p> <a class="link" href="#hero"> Home </a></p>
                <p class="btn"><a class="btn-a" href="https://pancakeswap.finance"> Buy Now </a></p>
            </div> 
        </div>
        <div class="hs">
            <div class="sect1">
                <h4>Welcome To </h4>
                <h4>Rudis Token</h4>
                <p class="tag-text">Rudis means a wooden sword or rod used in Roman gladiator training both against the palus (a post) and for mock combats between sparring partners. Along with palm branches, RUDIS was also given to the winner of a gladiatorial battle.</p>
                <div class="sect2">
                    <p class="btn-1"><a class="a" href="https://pancakeswap.finance">Buy on Pancakeswap</a></p>
                    <p class="btn-1 a-2"><a class="a-2" href="../assets/RUDIS.edited (1).docx"> Whitepaper </a></p>
                </div>
                <div class="sect3">
                    <a class="social-link" href="https://pancakeswap.finance"><i class="fab fa-twitter"></i></a>
                    <a class="social-link" href="https://pancakeswap.finance"><i class="fab fa-telegram"></i></a>
                    <a class="social-link" href="https://pancakeswap.finance"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="logo-cont">
                <img class="logo-img" src="assets/RUDIS coin design png.png" alt="rudis logo">
            </div>
        </div>
       
    </div>
    <div class="second-sect">
        <h3>A Binance Smart Chain (BSC) BASED PROJECT</h3>
        <div class="paragraph-n-carousel">
            <p class="details">As RUDIS is based upon BSC protocol, it is a matter of certainty that it will render the following 7 important services to the investors of this project.</p>
            <ul class="list-container">
                <li class="list first">Easy to Buy</li>
                <li class="list">It will have high demand and limited supply</li>
                <li class="list">It is highly trusted by the crypto Community</li>
                <li class="list">Easy to Withdraw and Convert</li>
                <li class="list">It will involve a low transaction fee</li>
                <li class="list">It will avoid multiple tax events</li>
                <li class="list last">Rapid Growth</li>
            </ul>
            <div class="swords">
                <img src="assets/Rudis new card final-1.png" alt="">
                <video class="video-card" muted  autoplay loop>
                    <source src="assets/Rudis_NFT_card 02 (1)-1.mp4" type="video/mp4">
                </video>
                <img src="assets/Rudis new card final-1.png" alt="">
            </div>
        </div>
        <div class="cards">
            <div>
                <h3>MAXIMUM RATIO TRUST</h3>
                <video class="video" muted  autoplay loop>
                    <source src="design/MAXtrust .mp4" type="video/mp4">
                </video>
                <p>RUDIS  has been designed to remove the central points of failure, and it will ensure
                    the maximum ratio of trust through its traditional digital asset exchange.</p>
            </div>
            <div>
                <h3>HIGH SPENDING LIMITS</h3>
                <video class="video" height="240" width="320" muted autoplay loop>
                    <source src="design/Transparency .mp4" type="video/mp4">
                </video>
                <p>The RUDIS platform is designed to run at extremely high speeds. Its speed is commendable and enables us to use the account within minutes of setting up. </p>
            </div>
            <div>
                <h3>SIMPLICITY</h3>
                <video class="video" height="240" width="320" muted autoplay loop>
                    <source src="design/Simplicity .mp4" type="video/mp4">
                </video>
                <p>Using the RUDIS is very simple. Even a new user on this Platform can use it easily.</p>
            </div>
        </div>
    </div>
    <div class="third-sect">
        <div class="third-sect-1">
            <div class="vision-div">
                <h4>Our Vision</h4>
                <video  class="video" height="240" width="320" muted autoplay loop>
                    <source src="design/our vision .mp4" type="video/mp4">
                </video>                
                <h3>Make welcome the gladiators of the future vision.</h3>
                <p>Rudis Vision enables anyone to stay connected with a global NFTs community to make digital collectibles more inclusive, diverse, and accessible with a transparent Defi integrated Rudis mobile wallet. Rudis Vision is more than just a Crypto Social Medial destination; it's a vast community powered by worldwide members who sell or buy personal digital collectibles. Rudis Vision is to create one of the most connected first crypto social media platforms experiences in the world.</p>
            </div>
            <div class="rudis-token">
                <h4>Rudis Token</h4>
                <h2>A Wooden Sword Token</h2>
                <p>Rudis means a wooden sword or rod used in Roman gladiator training both against the palus (a post) and for mock combats between sparring partners. Along with palm branches, RUDIS was also given to the winner of a gladiatorial battle.</p>
                <video class="gladius-sword" muted autoplay loop>
                    <source  src="assets/Rudis_NFT_card 02 (1)-1.mp4" type="video/mp4">
                </video>
                <!-- <img  class="gladius-sword" src="assets/Rudis new card final-1.png" alt="gladius card"> -->
            </div>
            
        </div>
       
    </div>
    <div class="fourth-sect">
        <h2>Features</h2>
        <p>Updated versions of this whitepaper will be released in the coming months as progress is made towards the goals in our Roadmap. In the first phase, the focus will be on building and boosting RUDIS. Our team updates on marketing will be shared weekly with our investors in the coming weeks. We want to thank each of you for believing in this new project. Our team and its wonderful community will do everything possible to achieve the goals of RUDIS. </p>
        <button class="buy-btn"><a class="a" href="https://pancakeswap.finance"> Buy Rudis Token </a></button>
        <div class="copy-box">  
            <p class="fa fa-copy copy-btn"></p>
            <input id="token-address" readonly type="text" value="0x33889wbb99w8968679567vcnsdk38dgbbi9608698">
        </div>
    </div>
    <div class="fifth-sect">
        <div class="fifth-sect-1">
            <h2>WORLD FIRST NFT REFLECTION TOKEN</h2>
            <p>TOKENOMICS</p>
        </div>
        <div class="fifth-sect-2">
            <div class="image-div">
                <img class="gladius-sword-2" src="assets/Rudis new card final-1.png" alt="">
            </div>
            <div class="token-details">
                <h3>Token Name: Rudis</h3>
                <h3>Symbol: RUDIS</h3>
                <p>Rudis differs from other tokens through its makeup, and its holders are winners. Be an holder of Rudis token to become a champion. With Rudis Token, you become an NFT lord.</p>
            </div>
            <div class="image-div">
                <img class="gladius-sword-2" src="../assets/Rudis new card final BlackBack-01-1.png" alt="">
            </div>
        </div>
        <div class="fifth-sect-3">
            <div>
                <p>Tier 1 Holders</p>
                <div class="bar bar1">
                    30%
                </div>
            </div>
            <div>
                <p>Tier 2 Holders</p>
                <div class="bar bar2">
                    50%
                </div>
            </div>
            <div>
                <p>Tier 3 Holders</p>
                <div class="bar bar3">
                    100%
                </div>
            </div>
            <div class="roadmap-head-text">
                <h2>Road Map</h2>
                <p>So, how are we going to do all of this?</h2>
            </div>
            <div class="road-map-div">
                <div class="road-sect-2">
                    <div class="circle">
                        Phase 1
                    </div>
                    <img class="swordphase" src="assets/swordphase.png" />
                    <div class="circle">
                        Phase 2
                    </div>
                    <img class="swordphase" src="assets/swordphase.png" />
                    <div class="circle">
                        Phase 3
                    </div>
                </div>
                <div class="phase-container">
                <div class="phase road-sect-1">
                    <p>Presale</p>
                    <p>Release first 200 tier 1 NFTs</p>
                    <p>list on pancake swap </p>
                    <p>List on coigecko and Coin market cap</p>
                    <p>Start first paid publicity</p>
                    <p>List on Cex </p>
                </div>
                    <div class="phase phase-1">
                        <p>Website</p>
                        <p>social media set up</p>
                        <p>Contract Audit</p>	
                    </div>
                    <div class="phase phase-3">
                        <p>Market place (where people can trade or redeem the  NFTs without going on other sites), Start developing the first real use case of Rudis token 
                        </p>
                        <p>Expand Marketing Scope</p>	
                        <p>NFT Mining Partners</p>	
                        <p>Release next Roadmap</p>	
                        <p>MORE COMING SOON</p>	
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>Copyright (c) 2021 Rudis Token | Powered by (Rudistoken)</p>
    </footer>
</body>
<script src="script/main.js" ></script>
<script src="script/load.js" ></script>
</html>
